.title {
    font-weight: bold;
    font-size: 36px;
    line-height: 60px;
    &_fz14 {
        font-weight: normal;
        font-size: 16px;
        line-height: 23px;
    }
    &_fz14b {
        font-weight: bold;
        font-size: 16px;
        line-height: 23px;
    }
    &_fz16 {
        font-size: 18px;
        line-height: 26px;
    }
    &_fz48 {
        font-size: 48px;
    }
    &_fz12 {
        font-size: 14px;
        line-height: 20px;
        font-weight: normal;
    }
    &_fz20 {
        font-size: 20px;
        line-height: 30px;
    }

}